:root { 
  --size: calc(1vh + 1vw) 
}

.container{
	/* width: calc(var(--size)*52); */
	margin: 0 auto;
}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.mb-60{margin-bottom: 60px;}
.mb-50{margin-bottom: 50px;}
.mb-40{margin-bottom: 40px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}

.mt-60{margin-top: 60px;}
.mt-50{margin-top: 50px;}
.mt-40{margin-top: 40px;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}

.hidden{display: none;}
.flex {display: flex;}
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
body.no-scroll{overflow: hidden;}

.btn-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--size)*1.7);
    border-radius: 7px;
    border: 1px solid var(--box-shadow);
    background-color: var(--yellow-defolt-color);
    box-shadow: 3px 3px 0px var(--box-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.btn-yellow:hover{
    background-color: var(--yellow-hover-color);
}

.btn-yellow:active{
    box-shadow: none;
    background-color: var(--yellow-active-color);
}

.btn-pink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--size)*1.7);
    border-radius: 7px;
    border: 1px solid var(--box-shadow);
    background-color: var(--pink-defolt-color);
    box-shadow: 3px 3px 0px var(--box-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--background-color);
}
.btn-pink:hover{
    background-color: var(--pink-hover-color);
}
.btn-pink:active{
    box-shadow: none;
    background-color: var(--pink-active-color);
}
